* {
    margin: 0;
}

div.content-wrapper {
    display: flex;
    flex-direction: row;
}

#map {
    height: 100vh;
    width: 100vw;
    flex-grow: 3;
}

#refresh {
    background-color: whitesmoke;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #A8A8A8;
    color: black;
    top: 15px;
    left: 15px;
    height: 32px;
    position: absolute;
    vertical-align: middle;
}

#refresh:hover {
    background-color: lightgrey;
}

#pinaise-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

    #pinaise-form button {
        width: 50%;
    }

    #pinaise-form div.form-section {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }